@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Playfair+Display:ital@0;1&family=Roboto:wght@100;400&display=swap');

.nav-item{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;

}
/*
.centralizar-texto {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-grow: 1; 
}*/

.bg-image {
    background-image: url('caminho');
    background-size: cover; /* Define o tamanho da imagem para cobrir toda a página */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    /* Outros estilos para o corpo da página, como cores de texto, etc. */
}

.navbar-nav{
    text-align: right;
}

.nav-item{
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bandeira{
    width: 5em;
    /*border-radius: 5px; */
}

#title{
    font-family: 'PT Serif', serif;
}

.introducao{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: normal;
    line-height: 1.5;
    text-align: justify;
}

#citacao-titulo, #citacao-texto{
    font-family: 'Playfair Display', serif;
    text-align: center;
}
#citacao-texto{
    font-family: 'PT Serif', serif;
    font-size: larger;
    font-style: italic;
    line-height: 1.6;
}

