.nav-item{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;

}
/*
.centralizar-texto {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-grow: 1; 
}*/

.navbar-nav{
    text-align: right;
}

.nav-item{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.bandeira{
    width: 5em;
    /*border-radius: 5px; */
}